@import "~taro-ui/dist/style/components/checkbox.scss";
@import "~taro-ui/dist/style/components/icon.scss";
.page-index{
  background: url("./bg/bg.png")no-repeat;
  background-size: 100% 100%;
}

.home-card{
  width: 659px;
  height: 1018px;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -509px;
  margin-left: -329.5px;
  background-color: white;
  box-shadow: 0px 0px 16px 7px rgba(0, 0, 0, 0.2);
  border-radius: 20px;
}

.logo{
  margin-top: 99px;
  width: 100%;
  text-align: center;
  font-size: 100px;
  color: #313131;
}
.line{
  background-color: #E5E5E5;
  margin: 50px auto;
  height: 2px;
  width: 85%;
}
.icons-image{
  width: 28px;
  height: 36px;
}

.label-width{
  width: 120px;
  margin-left: 18px;
}

.home-page-form-row{
  display: flex;
  align-items: center;
  font-size: 35px;
  justify-content: flex-start;
  padding-left: 52px;
}

.form-section{
  margin-top: 13px;
}

.input-width{
  width: 240px;
  position: relative;
  top: 3px;
}
.get-code-button{
  font-size: 30px;
  color: #F8B551;
  width: 170px;
  text-align: center;
}
.submit-button{
  width: 551px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #00A0E9;
  height: 85px;
  font-size: 35px;
  color: white;
  margin: 0 auto;
  border-radius: 43px;
}

.at-checkbox::before, .at-checkbox::after {
  border: none;
}

.home-checkbox{
  position: relative;
  background: transparent;
  padding-left: 50px;
  top: -4px;
}

.home-checkbox {
  .at-checkbox__title {
    font-size: 26px;
    position: relative;
    top: 3px;
  }
}

.logo-image{
  width: 260px;
  height: 260px;
}
